* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 62.5%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;


    height: 100vh;
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);

    
    
}


.container {
    max-width: 45rem;
    border-radius: 2rem;
    overflow: hidden;
}

.hero{
    height: 22rem;

}

.text-content{
    background-color: hsl(225, 100%, 98%);
    padding: 4rem;
    text-align: center;
    
}

.text-content h1{
    margin-bottom: 1.6rem;
    text-align: center;
}

.text-content .listening {
    font-size: 1.3rem;
    margin-bottom: 3.6rem;
    text-align: center;
}

.plan-box{
    display: flex;
    padding: 2rem;
    background-color: hsla(225, 44%, 93%, 0.637);
    border-radius: 1.2rem;
    align-items: center;
    text-align: center;
    justify-content: space-between;

    margin-bottom: 3.6rem;
}

.plan-box-left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.change {
    text-decoration: none;
    color: hsl(224, 23%, 55%);
}

button {
    display: block;
    margin: 0 auto;
    border: none;
    background: hsl(245, 75%, 52%);

    color: white;

    padding: 1.4rem;
    border-radius: .8rem;
    width: 37rem;

    font-family: 'Red Hat Display', sans-serif;
}

button:hover{
    cursor: pointer;
    background: hsl(245, 70%, 42%);


}

.cancel {
    margin-top: 2rem;
}

.cancel a { 
    text-decoration: none;
    color: hsl(224, 23%, 55%);

}
